genotype_by_tf*/
residuals/
epacts/
chr*.vcf.gz
EPACTS
find-tfbs/
.snakemake/
.vscode/
split_by_pwm_done
*.vcf.gz
*.vcf.gz.bgzip
*.vcf.gz.bgzip.tbi
hg38.fa
hg38.fa.fai
HOCOMOCOv11_full_pwms_HUMAN_mono.txt
conditional_analysis/
thresholds/
black/
hispanic/
white/
bed_hg38/
filtered_bed/
BCX2_GWAS_sentinel.bed
best_associations.tsv
pheno.tab
*_chr*.positions
*_chr*.vcf.gz.tbi
*_chr*.vcf.gz
ensembl_genes.tsv
ensembl_promoters.tsv
chr*.vcf.gz.withheader
homo_sapiens.GRCh38.Regulatory_Build.regulatory_features.20190329.gff
Homo_sapiens.GRCh38.85.gff3.gz
samples_*
samples
out.log
slurm-*.out
ensembl_enhancers.tsv
promoters_enhancers_best_associations.tsv
